.AllContnt {
    .BkHdr {
        // background-color: #f7f7f7;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;

        .Hdr {
            padding-top: 22px !important;
            margin-bottom: 0px !important;
            font-weight: bold;
        }

        .header {
            margin-bottom: 0px;
        }

        p {
            margin-bottom: 45px;
            padding-bottom: 19px;
            color: rgba(0, 0, 0, 0.4);
            font-size: 12px;
            font-weight: 500;
            line-height: 1.58;
        }
    }

    .LoginCont {
        padding-bottom: 42px;
        margin-top: 2px;

        .Loginsec {
            width: 87%;
            margin: 0 auto;

            .LoginContnt {
                [type='checkbox'] {
                    position: relative;
                    top: 10px;
                    margin-right: 5px;
                }

                .Bylogin {
                    font-weight: 600;

                    label {
                        font-size: 10.5px;
                        line-height: 3;
                        text-align: left;
                        color: #309de0;
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }

                .LognBtn {
                    width: 100%;
                    background-color: #309de0;
                    border-radius: 5px;
                    border: none;
                    line-height: 2.89;
                    margin: 12px 0px;
                    color: white;
                    font-size: 14px;
                    font-weight: bold;
                    margin-top: 16px;
                }

                .ResponsiveCreateAccountBtn {
                    width: 100%;
                    background-color: white;
                    border-radius: 5px;
                    line-height: 3;
                    margin: 12px 0px;
                    font-size: 14px;
                    font-weight: bold;
                    border: 1px solid #309de0;
                    color: #309de0;
                }

                .ResponsiveCreateAccountTxt {
                    margin-top: -3px;
                }

                .RmmberLost {
                    line-height: 2.86;
                    padding: 19px 0px;
                    font-size: 11px;

                    .RemmberMe {
                        opacity: 0.61;
                    }

                    .checkbox.ui {
                        margin-top: 10px;
                        width: 100%;
                    }

                    .ui.checkbox label {
                        font-size: 11px;
                    }

                    .LostPass {
                        float: right;
                        color: #309de0;
                        font-weight: 600;
                        text-decoration: underline;
                        padding-top: 5px;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .createAccount {
        width: 87%;
        margin: 0 auto;

        .AYKMailLogo {
            width: 100%;
            height: 73px;
            text-align: center;
            margin: 0 auto;
        }

        .RegisterTxt {
            opacity: 0.6;
            font-size: 14px;
            text-align: center;
            margin-bottom: 0;
            width: 98%;
            text-align: center;
            margin: 0 auto;
            height: 136px;
            max-height: 136px;
        }

        .creatAccBtn {
            width: 100%;
            background-color: #309de0;
            width: 100%;
            border-radius: 5px;
            border: none;
            line-height: 2.89;
            color: white;
            font-size: 14px;
            font-weight: bold;
        }
    }
}

@media screen and (min-width: 1200px) {
    .BkHdr {
        background-color: #f7f7f7;
    }

    .FixedHeight{
        min-height: 210px;
        max-height: 210px;
    }
    .mobLoginLogo {
        display: none;
    }

    .Loginsec:after {
        content: "";
        background-color: #d9d9d9;
        position: absolute;
        width: 1px;
        height: 64%;
        top: 35%;
        left: 100%;
        display: block;
    }

    .ResponsiveCreateAccountBtn, .ResponsiveCreateAccountTxt {
        display: none;
    }

    .LoginContnt,
    .crteAcuntSec {
        padding: 0px 30px;
    }
}

@media screen and (max-width: 1199px) {
    .ResponsiveCreateAccountBtn, .ResponsiveCreateAccountTxt {
        display: block;
    }
    .AllRegCont .TwoSides #borderrBtom .CountriesData .dropdown-button img {
        top: 3px;
    }
    .ui.grid{
        margin: 0px!important;
    }

    .mobLoginLogo {
        text-align: center;
        margin-bottom: 40px;
        margin-top:10px;
    }

    .dimmed.dimmable > .ui.animating.dimmer, .dimmed.dimmable > .ui.visible.dimmer, .ui.active.dimmer {
        padding: 0px;
    }

    .AllContnt .LoginContnt,  .AllContnt .crteAcuntSec  {
        padding: 0px 10px;
    }

    .AllContnt .BkHdr p {
        margin-bottom: 15px;
    }

    .AllContnt .LoginCont .Loginsec .LoginContnt .RmmberLost {
        line-height: 0.8;
        padding: 12px 0px;
        padding-bottom: 34px;
    }

    .AllContnt .LoginCont .Loginsec {
        width: 85%;
        margin: 0 auto;
    }

    .AllContnt .LoginCont .Loginsec .LoginContnt .RmmberLost .LostPass {
        padding-top: 16px;
    }

    .Bylogin {
        margin-bottom: 21px;
        margin-top: 0px;
    }

    .AllContnt .LoginCont {
        border-bottom: 1px solid #00000024;
        padding-bottom: 23px;
    }

    .connectWith {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 768px) {
    .LoginColmn {
        padding: 0px !important;
    }

    .AllContnt .LoginCont .Loginsec {
        width: 100%;
    }
}

@-moz-document url-prefix() {
    .AllContnt .createAccount .RegisterTxt {
        height: 136px;
        max-height: 136px;
    }
    .AllContnt .LoginCont .Loginsec .LoginContnt .LognBtn{
        margin: 0px;
    }
}