.allSocialMedia {
    height: 63px;
    justify-content: center !important;
}

.faceBok {
    background-color: #3b5998;
    color: white;
    border-radius: 4px;
    padding-top: 5px;
    font-weight: bold;

    i {
        font-size: 21px !important;
        margin-right: 2px;
        position: relative;
        top: -2px;
        right: 1px;
    }
}

.Tiwiter {
    background-color: #1da1f2;
    color: white;
    border-radius: 4px;
    padding-top: 5px;
    font-weight: bold;

    i {
        font-size: 21px !important;
        margin-right: 2px;
        position: relative;
        top: -2px;
        right: 1px;
    }
}

.Google {
    background-color: #db4437;
    color: white;
    border-radius: 4px;
    padding-top: 5px;
    font-weight: bold;

    i {
        font-size: 21px !important;
        margin-right: 2px;
        position: relative;
        top: -2px;
        right: 1px;
    }
}

.Insta {
    color: white;
    padding: 15px 12px;
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    border-radius: 4px;
    padding-top: 5px;
    font-weight: bold;
    margin-right: 0px !important;

    i {
        font-size: 21px !important;
        margin-right: 2px;
        position: relative;
        top: -2px;
        right: 1px;
    }
}

.connectWith {
    font-size: 10px;
    font-weight: bold;
    line-height: 1.6;
    color: #000000;
    margin-top: 25px !important;
    margin-bottom: 15px;
    font-weight: bold;
}

.SocialMediaCont {
    width: 58%;
    margin: 0 auto;
    margin-bottom: 10px;

    .SvgCont {
        margin-top: 4px;
        margin-right: 2px;
    }

    .SmFontSocial {
        font-size: 9.5px;
        margin-bottom: 0;
    }

    .LgFontSocial {
        font-size: 11px;
        margin-bottom: 0;
        line-height: 1;
    }
}

@media screen and (min-width: 1025px) {
    .faceBok, .Google, .Insta, .Tiwiter {
        width: 23% !important;
        margin-right: 6px;
        padding: 0px 9px !important;
    }

    .IconsCont {
        padding-top: 3px;
        display: inline-block;
        text-align: left;
    }
}

@media screen and (max-width: 1199px) {
    .SocialMediaCont {
        width: 100%;
        margin-bottom: 32px;

        .SvgCont {
            margin: 0 auto;
            position: relative;
            top: -10px;
        }

        .faceBok, .Google, .Insta, .Tiwiter {
            width: 46px !important;
            height: 46px !important;
            margin-right: 6px;
            text-align: left !important;
            padding: 23px 0px;
        }

        .IconsCont {
            display: none;
        }

        .connectWith {
            margin-bottom: 8px;
        }
    }
}
@media screen and (max-width: 1024px){
    .faceBok, .Google, .Insta, .Tiwiter {
        i {
            top: -15px !important;
            left: -5px !important;
            font-size: 27px !important;
        }
    }
}
@media screen and (min-width: 1025px) and (max-width:1199px){
    .faceBok, .Google, .Insta, .Tiwiter {
        i {
            top: 7px !important;
            left: 2px !important;
            font-size: 27px !important;
        }
    }
}