.VerfyAccCont {
    text-align: center;

    .PaddingSides {
        padding: 20px 70px 0px 70px;

        .borderCont {
            border-bottom: 1px solid #d9d9d9;
            padding-bottom: 10px;

            .VerfyAcc {
                width: 60%;
                margin: 0 auto;

                h3 {
                    margin-bottom: 0px;
                }

                .emailVerify {
                    padding-right: 4px;
                }

                .smsVerify {
                    padding-left: 4px;
                }

                ul {
                    li {
                        text-align: left;

                        label {
                            font-size: 11px;
                            color: rgba(0, 0, 0, 0.5);
                        }

                        strong {
                            margin-right: 6px;
                        }
                    }
                }

                p {
                    font-size: 12px;
                    line-height: 1.58;
                    text-align: center;
                    color: rgba(124, 122, 113, 0.7);
                }

                button {
                    width: 100%;
                    background-color: #309de0;
                    width: 100%;
                    border-radius: 5px;
                    border: none;
                    line-height: 3;
                    margin: 12px 0px;
                    color: white;
                    font-size: 14px;
                    font-weight: bold;
                }

                svg, img {
                    margin: 25px 0px;
                    margin-bottom: -4px;
                }

                .SmsOrEmailVerify {
                    p {
                        margin-bottom: 15px;
                    }

                    img {
                        margin-bottom: 24px;
                    }

                    .CodeContainer {
                        width: 70%;
                        margin: 0 auto;

                        .ResendCont {
                            margin-bottom: 10px;

                            .QouteFoter {
                                font-size: 12px;
                                line-height: 2.46;
                                text-align: left;
                                color: rgba(0, 0, 0, 0.7);
                            }

                            .Resend {
                                font-size: 12px;
                                font-weight: bold;
                                line-height: 2.46;
                                text-align: left;
                                color: #309de0;
                                text-decoration: underline;
                                cursor: pointer;
                                margin-left: 6px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1199px) {
    .VerfyAccCont {
        .PaddingSides {
            padding: 10px 10px;
            padding-bottom: 0px;

            .borderCont {
                padding-bottom: 21px;

                .VerfyAcc {
                    width: 85%;
                    margin: 0 auto;

                    .SmsOrEmailVerify {
                        .CodeContainer {
                            width: 90%;

                            #Code {
                                margin-bottom: 5px;
                            }
                        }

                        img {
                            margin-bottom: 11px;
                        }
                    }

                    img {
                        margin: 33px 0px;
                        margin-bottom: -14px;
                    }

                    p {
                        line-height: 1.98;
                    }

                    .EmailOrSms button {
                        margin-bottom: 25px;
                    }

                    .SmsOrEmailVerify button {
                        margin-bottom: 15px;
                    }

                    ul {
                        li {
                            text-align: left;
                            margin-bottom: 6px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .VerfyAccCont .PaddingSides .borderCont .VerfyAcc {
        width: 100%;
        margin: 0 auto;
    }

    .VerfyAccCont {
        .PaddingSides {
            .borderCont {
                .VerfyAcc {
                    .SmsOrEmailVerify {
                        .CodeContainer {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
