{
  "presets": [
    "react-app",
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "~": "./src"
        }
      }
    ],
    "@babel/plugin-proposal-optional-chaining",
    "relay",
    [
      "emotion",
      {
        "autoLabel": true
      }
    ]
  ]
}