.ui.menu .set-currency {
  &.ui.dropdown > .text {
    font-weight: 900;
    font-size: 12px;
    color: #000000;
  }
  i.icon.chevron {
    font-size: 8px;
    margin-left: 8px;
    color: #666666;
  }
}
