.departments-tabs {
  position: absolute;
  left: 0;
  right: 0;
  top: 70px;
  border-radius: 7px;
  z-index: 1;
    
  .ui.vertical.menu .active.item {
    color: #309de0;
  }
  .ui.menu {
    margin: 0;
  }
  .ui.attached + .ui.attached.menu:not(.top) {
    padding: 15px 0;
  }
  .ui[class*="bottom attached"].menu {
    display: inline-block;
    width: 20%;
    float: left;
    border-top-right-radius: 0;
    height: 432px;
    border-bottom-right-radius: 0;
    border-top: 1px solid #e1e1e1 !important;
    background-color: #fff;
    a {
      color: #b4b4b4;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        height: 1px;
        width: 85%;
        left: 7%;
        border-top: 1px solid #e1e1e1;
        bottom: 0;
      }
      &:last-child:after {
        content: initial;
      }
    }
  }
  .tab-content {
    background-color: #e1e1e1;
    .ui.header {
      color: #636363;
      font-size: 14px;
    }

    a {
      text-transform: capitalize;
      color: rgba(0, 158, 255, 0.8);
      text-decoration: underline;
      font-size: 12px;
    }
    .ui.grid > .column:not(.row),
    .ui.grid > .row > .column {
      padding-left: 3rem;
      padding-right: 3rem;
    }
    .list .item {
      text-transform: capitalize;
      font-size: 12px;
      color: #a8a8a8;
    }
    .ui.bulleted.list .list > .item,
    .ui.bulleted.list > .item,
    ul.ui.list li {
      color: #636363;
      font-size: 12px;
      font-weight: 300;
      text-transform: capitalize;
    }
    .ui.grid > .row {
      padding-top: 27px;
      padding-bottom: 27px;
    }
  }

  .ui.tab.active,
  .ui.tab.open {
    display: inline-block;
    width: 80%;
    border-top: 1px solid;
    height: 432px;
    border-top-right-radius: 7px;
    border-top: 1px solid #e1e1e1;
    background-color: #fafafa;
  }
  .item {
    color: rgba(0,0,0,0.7);
    font-weight: bold;
    > i.icon {
      position: absolute;
      right: 7px;
      font-size: 14px;
      text-transform: capitalize;
      color: #cacaca;
    }
  }
  .ui.menu .active.item,
  .ui.menu .active.item:hover,
  .ui.link.menu .item:hover,
  .ui.menu .dropdown.item:hover,
  .ui.menu .link.item:hover,
  .ui.menu a.item:hover {
    color: #309de0;
    font-size: 14px;
    font-weight: bold;
    background-color: transparent;
    i {
      color: #309de0;
    }
  }

  .ui.bottom.attached.menu:before {
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    position: absolute;
    top: -8px;
    left: 22px;
    transform: rotate(134deg);
    border-left: 1px solid #d4d4d5;
    border-bottom: 1px solid #d4d4d5;
  }
}
