.nav-department {
  .container {
    position: relative;
  }
  .ui.menu {
    margin-bottom: 44px;
    border-radius: 7px;
    line-height: 47px;
    align-items: center;
    border: none;
    .dropdown {
      width: 61px;
      text-align: center;
      color: #fff;
      border-top-left-radius: 7px;
      border-bottom-left-radius: 7px;
      .bars {
        display: inline-block;
        font-size: 20px;
        margin-right: 0;
      }
      background-color: #33a8ff;
      .dropdown.icon {
        display: none;
      }
    }
    .ui.dropdown .menu > .active.item {
      background: transparent !important;
      font-weight: 300 !important;
      color: rgba(0, 0, 0, 0.95) !important;
    }
  }
  .featured-departments {
    margin-left: 15px !important;
    .item {
      color: #808285;
      text-transform: capitalize;
    }
  }
  .ui.menu .ui.dropdown .menu > .selected.item {
    background-color: transparent !important;
  }
  .ui.menu .item > img:not(.ui) {
    width: auto;
  }
  .ui.menu .item:before {
    content: initial;
  }
  .social-media.menu {
    margin-right: 12px;
    .item {
      padding: 0;
      margin: 0 3px;
      img {
        width: 25px;
        height: 25px;
      }
    }
  }
}

.ui.menu {
  border-radius: 0;
  box-shadow: none;
  .menu {
    border-bottom: none;
  }
}
.megamenu {
  background-color: #efefef;
  position: absolute;
  left: 0;
  right: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  display: none;
  margin-top: 0;

  .mega-dropdown:hover > & {
    display: block;
  }
}
@media (max-width: 1280px) {
  .ui.menu:not(.vertical) .featured-departments .item {
    padding: 10px;
  }
}
