$blue: #33a8ff;

.products-items {
  position: relative;
  .products-items-count {
    text-transform: uppercase;
    color: #000000;
  }
  .products-items-icon {
    display: inline-block;
    margin-right: 8px !important;
  }
  .products-items-details {
    display: inline-block;
    font-weight: bold;
    span {
      display: block;
      font-size: 12px;
      position: relative;
      top: 2px;
    }
    .items-count {
      display: none;
      position: absolute;
      top: -3px;
      right: -3px;
      width: 18px;
      height: 18px;
      line-height: 20px;
      text-align: center;
      background-color: #fb9410;
      color: #fff;
      border-radius: 50%;
      font-size: 11px;
      font-weight: bold;
    }
  }
  .products-items-price {
    color: #7c7c7c;
  }
  i {
    font-size: 28px;
    color: $blue;
  }
  .ui.image {
    vertical-align: baseline;
  }
}

@media (max-width: 1201px) {
  .products-items {
    .products-items-details {
      span {
        display: none;
      }
      .items-count {
        display: inline-block;
      }
    }
  }
}
