.user-profile {
  cursor: pointer;

  i {
    font-size: 28px;
    color: #34a8ff;
  }
}

.dimmed.dimmable > .ui.animating.dimmer,
.dimmed.dimmable > .ui.visible.dimmer,
.ui.active.dimmer {
  display: -ms-flexbox !important;
  display: flex !important;
  opacity: 1;
}
