$blue: #33a8ff;
.top-nav {
  margin: 25px auto;
  .ui.pointing.dropdown > .menu {
    width: 100%;
  }
  .ui.menu:not(.vertical) .right.item, .ui.menu:not(.vertical) .right.menu{
    margin-left: 0 !important;
  }
  .ui.menu {
    border: none;
    box-shadow: none;
    background-color: transparent;
    border-radius: 7px;
  }

  .ui.default.dropdown:not(.button) > .text,
  .ui.dropdown:not(.button) > .default.text {
    color: #666666;
  }

  .ui.selection.dropdown,
  .ui.input > input {
    border: solid 1px #f5f5f5;
  }
  .ui.selection.dropdown {
    border-right-width: 2px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
  .ui.input > input {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
  .top-nav-assets {
    padding-left: 0;
    margin: 0;
    li {
      display: inline-block;
      float: left;
      list-style-type: none;
      margin-right: 10px;
      position: relative;
      .ui.menu .item:before {
        height: 20px;
        opacity: 0.4;
        background-color: #a6a5a5;
      }
      &:first-child .ui.menu .item:before {
        content: initial;
      }
    }
  }
  .products-items,
  .products-wishlist,
  .user-profile,
  .notification {
    img {
      height: 28px;
    }
  }
  .icon-arrow-down:before {
    font-size: 5px;
    color: #666666;
  }
  .ui.menu .item:before,
  .ui.menu .right.item::before,
  .ui.menu .right.menu > .item::before {
    content: initial !important;
  }
  .right.menu .item:last-child {
    margin-right: 0;
  }
  .ui.menu:not(.vertical) .right.item,
  .ui.menu:not(.vertical) .right.menu {
    > .item {
      position: relative;
      margin-right: 20px;
      &:after {
        content: "";
        position: absolute;
        right: -10px;
        top: 28px;
        height: 20px;
        width: 1px;
        background-color: #a6a5a5;
        opacity: 0.4;
      }
      &:last-child {
        margin-right: 0;
        &:after {
          content: initial;
        }
      }
    }
  }
}
@media (min-width: 1023px) {
  .top-nav {
    .ui.menu .item {
      padding: 0;
    }
  }
}
