@import "mixins";

@font-face {
  font-family: Panton;
  src: url("../../assets/fonts/Panton/Panton-Regular.otf");
}
@font-face {
  font-family: Frutiger;
  src: url("../../assets/fonts/FrutigerLTArabic/FrutigerLTArabic-55Roman.ttf");
}
@font-face {
  font-family: HelveticaNeue;
  src: url("../../assets/fonts/HelveticaNeue/HelveticaNeueLTPro-Roman-Edited.otf");
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
  font-size: 16px !important;
}
body,
.ui.menu,
.ui.header,
button,
input,
optgroup,
select,
textarea,
span {
  font-family: 'Open Sans', sans-serif; // 'HelveticaNeue';
}
.ar {
  font-family: Frutiger;
}

input {
  line-height: 1.3; // Workaround for the vertical alignment of text on safari
}

@media only screen and (min-width: 1200px) {
  .ui.container {
      width: 84%;
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .ui.container {
      width: 100%;
      padding: 0 20px;
  }
}