body {
    background: #f8f7f7 !important;
}

.ui.modal {
    top: auto !important;
    left: auto !important;
}

.dimmed.dimmable > .ui.animating.dimmer,
.dimmed.dimmable > .ui.visible.dimmer,
.ui.active.dimmer {
    display: -ms-flexbox !important;
    display: flex !important;
    opacity: 1;
}

.modal {
    .TextCenter {
        text-align: center;
    }

    .MarginTop0 {
        margin-top: 0px !important;
    }

    .padd0 {
        padding: 0 !important;
    }

    .paddR0 {
        padding-right: 0px !important;
    }

    .fontSize11 {
        font-size: 11px;
    }

    select:required:invalid {
        color: #999;
    }

    option[value=””][disabled] {
        display: none;
    }

    option {
        color: #000;
    }

    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="email"]:focus,
    select:focus, .dropdown-button:focus {
        border: 1px solid #319de0 !important;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"],
    select {
        font-family: Panton;
        margin: 0;
        outline: 0;
        tap-highlight-color: rgba(255, 255, 255, 0);
        line-height: 1.51428571em;
        padding: 0.67857143em 1em;
        font-size: 12px;
        background: #fff;
        border: 1px solid rgba(34, 36, 38, 0.15);
        color: rgba(0, 0, 0, 0.87);
        border-radius: 1.8571429rem;
        box-shadow: 0 0 0 0 transparent inset;
        -webkit-transition: color 0.1s ease, border-color 0.1s ease;
        transition: color 0.1s ease, border-color 0.1s ease;
        width: 100%;
        margin-bottom: 12.5px;
        padding-top: 10.6px;
        height: 37px;
        max-height: 37px;
    }

    input:-webkit-autofill,
    textarea:-webkit-autofill,
    select:-webkit-autofill {
        background-color: #fff !important;
    }

    input[type="checkbox"] {
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeSpeed;
        width: 18px;
        height: 18px;
        margin: 0;
        margin-right: 1px;
        display: block;
        float: left;
        position: relative;
        cursor: pointer;
        border-radius: 4px;
    }
    .ui.checkbox .box:before, .ui.checkbox label:before ,.ui.checkbox .box:after, .ui.checkbox label:after{
        top:-1px !important
    }



    .ui.checkbox input:checked ~ .box::after, .ui.checkbox input:checked ~ label::after {
        color: #f89101;
    }

    input[type="checkbox"]:focus {
        outline-color: white !important;
    }

    .closePopup {
        position: absolute;
        right: -8px;
        top: -39px;
        color: white;
        font-weight: lighter;
        cursor: pointer;
        font-size: 1.5em !important;
        display: inline-block;
    }

    .closeSvg {
        position: absolute;
        right: 4px;
        z-index: 1;
        display: none;
        background: none;
        border: none;
        top: 20px;
        outline-color: transparent;

        img {
            width: 32%;
        }
    }

    .ErrorMsg {
        font-family: Panton;
        font-size: 10px !important;
        text-align: left !important;
        color: #ff0000 !important;
        margin-bottom: 6px !important;
    }

    .SuccessMsg {
        font-family: Panton;
        font-size: 12px !important;
        text-align: center !important;
        font-weight: bold !important;
        margin-bottom: 0px !important;
        background-color: #fcfff5;
        color: #2c662d !important;
    }

    button {
        outline-color: white;
        cursor: pointer;
    }
}

.loader {
    border: 6px solid #adadad;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    position: absolute;
    top: 50%;
    right: 50%;
}

.ui.modal > .actions {
    background: white;
    padding: 0px !important;
    border-top: none;
    text-align: right;
}

@media screen and (min-width: 1200) {
    .ui.modal {
        min-height: 526.5px;
    }
}

@media only screen and (max-width: 1199px) {
    .closePopup {
        display: none !important;
    }

    .modals.dimmer .ui.scrolling.modal {
        position: relative !important;
        left: 0px !important;
    }

    .closeSvg {
        display: inline-block !important;
    }

    .modals.dimmer .ui.scrolling.modal {
        margin: 0em auto !important;
    }

    .ui.modal {
        width: 100% !important;
        left: 2.5% !important;
        min-height: 100%;
        position: relative !important;
        overflow-x: hidden;
        border-radius: 0px;
    }

    .ui.modal > .icon:first-child + *, .ui.modal > :first-child:not(.icon) {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .ui.modal > .content, .ui.modal .content > .description {
        padding: 0 !important;
    }

    .ui.modal > .content {
        height: 100% !important;
        padding-bottom: 47px !important;
    }

    .actions {
        position: absolute;
        bottom: 0px;
        width: 100%;
    }

    .modal input[type="text"], .modal input[type="password"], .modal input[type="email"], .modal select {
        line-height: 1.314286em;
    }
}

@media only screen and (max-width: 991px) {
    .modals.dimmer .ui.scrolling.modal {
        margin-top: 0 !important;
        margin-bottom: 0rem !important;
    }
}

@-moz-document url-prefix() {
    input[type="text"],
    input[type="password"],
    input[type="email"],
    select {
        font-size: 13px !important;
    }
}

@media only screen and (min-width: 1200px) {
    .ui.container {
        width: 84%;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
    .ui.container {
        width: 100%;
    }
}
